@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500&display=swap');

.App {
  background-color: #00ADB5;
  height: 100vh;
  color: #EEEEEE;
}

.App-header {
  background-color: #222831;
  padding: 1px 0px 1px 23px;
  margin-bottom: 10px;
  font-size: 20px;
  box-shadow: 0 0 20px 0 #393E46;
}

.App-header h1 span {
  font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.note {
  background: #393E46;
  border-radius: 15px;
  box-shadow: 32px 36px 59px -37px rgba(255,255,255,0.73);
  padding: 10px;
  min-width: 240px;
  margin: 16px;
  float: left;
  text-align: center;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 15px;
}
.note div {
  font-family: 'Source Code Pro', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 1.1em;
  padding: 5px 20px;
  margin: 5px;
  background-color: beige;
  color: #222831;
  border-radius: 10px;
}